body  {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100%; /* Sets the height to 100% of the viewport */
    margin: 0; /* Arranges elements in a column */
    background: url(background.jpg) no-repeat center center fixed;
    background-size: 100%; /* Adjust this value as needed */
     
}
/* ok */


h1, label, input, textarea {
    margin: 25px auto; /* Adds some space between elements */
    resize: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    color: aliceblue;

}
input, textarea{
    padding: 14px 50px;
    color: black;
    text-align: left;
}
 label{
    font-size: larger;
    text-shadow: #89e626 0px opx 10px;
}
 button{
    margin:25px auto;
    color: black;
    background-color: aqua;
    display: flex;
    padding: 20px 40px;
    border-radius: 33px;
    cursor: pointer;
}
button:hover {
    background-color: #179987;
  }