
.navbar {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center;
  padding: 8px 100px; /* Adjusted padding to ensure the logo is on the left and maintain spacing */
  background-color: #13035e;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  margin: -43px;
  z-index: 1;
  
}

.logo img {
 
  width: 6%;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



.nav-links a:hover {
  color: #00d1ff;
  transition: color 0.3s ease-in-out;
}

.nav-links li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00d1ff;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}

.nav-links li:hover::after {
  width: 100%;
}


